* {
    font-family: 'Gilroy', sans-serif;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Medium.woff2') format('woff2'),
    url('../font/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Semibold.woff2') format('woff2'),
    url('../font/Gilroy-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Bold.woff2') format('woff2'),
    url('../font/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

:root {
    --base-brown: rgba(145, 113, 92, 1);
    --darker-brown: rgba(125, 93, 72, 1);
    --card-bg: rgba(249, 249, 249, 1);
    --ac-brown: rgba(98, 85, 74);
    --gray: #868695;
    --red: rgba(163, 20, 20, 1);
    --ac-red: rgb(255, 0, 0);
    --green: rgba(69, 145, 42, 1);
    --lg-black: rgba(45, 45, 45, 1);
}

a {
    color: black;
    text-decoration: none;
}
.page__heading {
    font-size: 20px;
    font-weight: 600;
}
/*Вход и регистрация*/
.card-section {
    background-color: white;
    width: 100%;
    height: 25%;
    border-radius: 20px;
    padding: 0;
    display: flex;
    gap: 0;
    justify-content: center;
}
.card-section_img-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}
/*.card-section_img {*/
/*    width: 50%;*/
/*}*/

.card-section_inputs {
    width: 50%;
    padding: 61px 65px;
}

.form_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.form_heading h2 {
    font-size: 16px;
    font-weight: bold;
}

.link {
    font-size: 14px;
    color: rgba(125, 93, 72, 1);
    text-decoration: underline;
}

.form-group {
    margin-top: 20px;
    position: relative;
}

.input-label {
    position: absolute;
    top: 13px;
    left: 15px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(117, 117, 117, 1);
    transition: 0.3s;
    pointer-events: none;
}

.form_bottom {
    margin-top: 25px;
}

.form-control {
    border: 1px solid rgba(117, 117, 117, 1);
    border-radius: 5px;
    height: 44px;
    padding: 15px 13px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
}

.form-control:focus {
    border: 2px solid rgba(145, 113, 92, 1);
    box-shadow: none;
}

/*.form-control:invalid {*/
/*    border: 2px solid rgba(184, 27, 27, 1);*/
/*    box-shadow: none;*/
/*}*/

.form-control:focus + .input-label {
    top: -10px;
    color: rgba(145, 113, 92, 1);
    background-color: white;
}

.form-control + .input-label.typing {
    top: -10px;
    color: rgba(145, 113, 92, 1);
    background-color: white;
}

.card-section-error {
    font-size: 14px;
    font-weight: 500;
    color: rgba(184, 27, 27, 1);
    padding-top: 6px;
}

/*Навигация*/
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
}

.nav-item__wrapper {
    display: flex;
    gap: 25px;
}

.nav__item {
    display: flex;
    align-items: center;
}

.nav__link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.nav__link-text {
    font-size: 14px;
    font-weight: 600;
}
.menu__line {
    border-top: 1px solid rgba(232, 232, 240, 1);
    margin: 10px 0;
}
.user-name {
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    margin:auto;
    width: 51%;
}
.link-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

.dropdown-item {
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    padding: 5px;
}
.dropdown-item.dropdown-item-fl {
    padding: 10px 5px;
}
.dropdown-item:hover {
    background-color: rgba(145, 113, 92, 0.11);
    border-radius: 5px;
    transition: 0.2s ease;
}

.count {
    color: white;
    font-size: 12px;
    font-weight: 600;
    background-color: rgba(233, 57, 49, 1);
    border-radius: 5px;
    padding: 0 5px;
    position: absolute;
    right: 10px;
    top: 0;
}

.dropdown-toggle::after {
    content: none;
}

/*.nav__item span {*/
/*    display: block;*/
/*}*/
.menu-lk {
    background-color: rgba(249, 249, 249, 1);
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);

}

.submenu {
    background-color: var(--base-brown);
}

.submenu__link {
    color: white;
    font-weight: 500;
    padding: 15px 0;
}

.submenu__link:hover {
    color: rgba(232, 232, 240, 1);
    transition: 0.3s ease;
}

.search-bar {
    width: 700px;
}

.search-bar__form {
    position: relative;
}

.search-bar__form button {
    position: absolute;
    top: 5px;
    right: 12px;
    background: none;
    cursor: pointer;
    border: none;
}

.search-bar__input {
    border-radius: 0.2rem;
    padding-right: 40px;
}

.search-bar__menu {
    width: 700px;
}

/*Главная страница*/
.slider-container {
    max-width: 1920px;
    max-height: 1000px;
}

.swiper-container {
    overflow: hidden;
}

.main-slider__img {
    object-fit: cover !important;
    height: 700px !important;
}

.btn-black {
    background: rgba(145, 113, 92, 1);
    color: white;
    display: inline-block;
    position: relative;
    height: 44px;
}

.btn-delete svg, .btn-edit svg {
    stroke: #292D32;
    transition: 0.3s ease;
}

.btn-edit svg:hover {
    stroke: var(--green);
}

.btn-delete svg:hover {
    stroke: var(--red);
}


.fw-600 {
    font-weight: 600;
}

.btn:hover {
    background: rgba(125, 93, 72, 1);
    color: white;
}

.btn-arrow::after {
    content: url("../image/arrow.svg");
    position: absolute;
}

.link-gray {
    color: rgba(117, 117, 117, 1);
}

.link-gray:hover {
    color: rgba(45, 45, 45, 1);
    transition: 0.3s ease-out;
}

.nav-pills .nav-link.active {
    background-color: rgb(236, 236, 236);
    color: black;
}

.nav-link {
    color: black;
}

.cursor-pointer {
    cursor: pointer;
}

.product-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.page_block {
    position: relative;
    border-radius: 20px;
}

.shop-cover {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    height: 250px;
    isolation: isolate;
}

.shop-cover__img {
    height: 250px;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
}

.shop-info {
    display: flex;
    position: relative;
    background: rgba(45, 45, 45, 1);
    border-radius: 15px;
    padding: 20px;
    margin-top: -26px;
}

.shop-info__avatar {
    position: relative;
    margin-right: 12px;
}

.shop-avatar {
    display: block;
    position: relative;
    border: rgba(45, 45, 45, 1) 2px solid;
    width: 150px;
    height: 150px;
    margin: -45px 0 -5px -5px;
}

.shop-info__main {
    flex: 1;
    margin-right: 15px;
}

.shop_name {
    color: white;
    font-weight: 600;
}

.shop_description {
    color: white;
    word-break: break-word;
}

.card {
    border: transparent;
}

.card:hover {
    box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.2);
}

.add-to-cart-btn {
    display: none;
    transition: opacity 0.3s ease;
}

.card:hover .add-to-cart-btn {
    display: block;
}

.card-info {
    margin-bottom: 15px;
}

.card-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: rgba(250, 250, 250, 1);
}

.product-img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.card-name {
    font-size: 16px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.card-title {
    height: 48px;
}

.card-price {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}


.delete-social-button {
    border: none;
    background: transparent;
    color: red;
    font-size: 30px;
}

.social-link .col-1 {
    flex: 1 0 0;
}


.menu-lk {
    position: sticky;
    top: 15px;
}

.p-card {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    /*box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);*/
}

.label-req::after {
    content: "*";
    color: red;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.input-container {
    width: 49%;
}

/*Страница редактирования товара*/
.images-wrap {
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

.img-wrap {
    position: relative;
}

.img-wrap__img {
    width: 100px;
    height: 100px;
    border-radius: 0.2rem;
}

.img-wrap__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.2rem;
}

.img-wrap__btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.img-wrap__btn button {
    background-color: transparent;
    border: none;
}

.img-wrap__btn button svg {
    stroke: var(--gray);
    transform: rotate(45deg);
}

.img-wrap:hover {
    .img-wrap__btn button svg {
        stroke: var(--ac-red);
        transition: 0.1s ease-out;
    }

    .img-wrap__img {
        filter: brightness(40%);
        transition: 0.1s ease-out;
    }

    /*.btn-delete {*/
    /*    background-color: var(--lg-black);*/
    /*    border-radius: 50%;*/

    /*}*/
}

/*Страница товара*/

.card-slider {
    display: flex;
}

.slider-nav {
    width: 60px;
    margin-right: 20px;
    overflow: hidden;
    flex-shrink: 0;
    height: 450px;
    position: relative;
}

.swiper-wrapper.swiper-slide {
    width: 60px;
}

.swiper-button-next {
    background-color: white;
    display: flex;
    justify-content: center;
    left: 0;
    width: 100%;
    height: 40px;
    border: none;
    bottom: 0;
    top: unset;
}

.swiper-button-prev {
    background-color: white;
    display: flex;
    justify-content: center;
    left: 0;
    width: 100%;
    height: 40px;
    border: none;
    top: 22px;
    bottom: unset;
}

.swiper-button-prev svg, .swiper-button-next svg {
    width: 16px;
    height: 9px;
}

.swiper-button-prev svg {
    transform: rotate(180deg);
}

.swiper-button-prev:after, .swiper-button-next:after {
    content: none;
}

/*.swiper-button-next:after {*/
/*    content: url("../image/arrow-sm.svg");*/
/*}*/

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    display: none;
}


/*.swiper-button-next.swiper-button-disabled:after {*/
/*    opacity: .35;*/
/*}*/
.slider-nav .swiper-slide {
    height: 60px;
    width: 60px;
}

.slider-nav__item {
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    cursor: pointer;
}

.slider-nav__item:hover {
    box-shadow: 0 0 0 1px #b2acac;
}

.slider-nav__item:not(:last-child) {
    margin-bottom: 20px;
}

/*.slider-nav__item img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: contain;*/
/*    */
/*}*/

.slider-block {
    width: 450px;
    height: 450px;
    overflow: hidden;
}

.swiper-slide {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.2rem;
}

.vendor {
    color: var(--gray);
    font-size: 14px;
}

.shop {
    display: flex;
    align-items: center;
}

.product__price {
    font-size: 28px;
    font-weight: 700;
}

.product-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: var(--ac-brown);
}

.list__info {
    flex-direction: column;
}

.list__info__1 {
    gap: 5px;
    width: 100%;
}

.title__info > span {
    color: var(--gray);
    font-weight: 400;
    font-size: 15px;
}

.section__title {
    font-size: 24px;
    font-weight: 700;
}

.section__description > span {
    font-size: 16px;
    font-weight: 600;
}

.pirt {
    flex: 0 0 33%;
    word-break: break-word;
    font-size: 15px;
}

.title__info {
    position: relative;
}

.dots {
    position: relative;
    flex: 1 0 0;
}

.dots::before {
    position: absolute;
    border-bottom: 1px dotted #ababab;
    content: "";
    width: 100%;
    top: 17px;
}

.link-more {
    color: var(--ac-brown);
    font-weight: 600;
}

.price-card {
    background-color: var(--card-bg);
    padding: 20px;
}

.custom-breadcrumb {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.custom-breadcrumb-item:not(:first-child) {
    padding-left: 20px;
    position: relative;
}

.custom-breadcrumb-item:not(:first-child)::before {
    content: '>';
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.custom-breadcrumb-item a {
    text-decoration: none;
}

.custom-breadcrumb-item.active {
    color: var(--ac-brown);
}

/*Каталог*/
.filter-wrapper {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-block-header {
    font-size: 20px;
    font-weight: 600;
}
.filter-block-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.filter-block__heading {
    font-size: 16px;
    font-weight: 600;
}
.filter-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
}

.filter-container {
    font-size: 15px;
    font-weight: 500;
}

.range-slider {
    border: 2px solid rgba(117, 117, 117, 1);
    border-radius: 5px;
    padding: 10px 16px;
    position: relative;
    width: 100%;
}

.range-slider__input-wrapper {
    display: flex;
    justify-content: space-between;
}

.range-slider__control {
    width: calc(50% - 8px);
}

.range-slider__input-control {
    border: none;
    color: var(--gray);
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    outline: none;
}

.range-slider__input--min {
    text-align: left;
}

.range-slider__input--max {
    text-align: right;
}

.range-slider__slider {
    position: absolute;
    width: calc(100% - 32px);
    /*padding: 0 10px;*/
    bottom: -2px;
    /*left: 16px;*/
}

.range-slider__input input {
    position: absolute;
    top: 0px;
    height: 2px;
    width: 100%;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.range-slider__progress-bar {
    height: 2px;
    border-radius: 5px;
    background-color: rgba(117, 117, 117, 1);
    position: relative;
}

.range-slider__progress-bar .progress-bar {
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 5px;
    background-color: rgba(105, 73, 52, 1);
    display: flex;
    /*z-index: 2;*/
}

.range-input {
    position: relative;
}

input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-appearance: none;
    background-color: rgba(105, 73, 52, 1);
    display: block;
}

input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 50%;
    -moz-appearance: none;
    background-color: rgba(105, 73, 52, 1);
    display: block;
}

.range-slider__control label {
    display: unset;
}

.product-count {
    color: var(--gray);
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.sort-block {
    display: flex;
    justify-content: space-between;
}

.dropdown-sort {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 153px;
    display: block;
    padding: 5px 30px 7px 12px;
    border-radius: 0.2rem;
    border: 1px solid var(--gray);
    background-color: transparent;
    position: relative;
    height: 100%;
}

.dropdown-sort__btn {
    padding-left: 40px;
}

.dropdown-sort:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url("../image/icons/arrows-updown.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 12px;
}

.dropdown-sort__btn::after {
    content: '';
    position: absolute;
    right: 12px;
    bottom: 16px;
    transition: 0.3s ease-out;
}

.dropdown-sort__btn.show::after {
    transform: rotate(180deg);
}
.menu-dropdown.sort-menu-dropdown {
    transform: translate(-4px, 39px) !important;
}

.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-radio+span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-radio+span::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid rgba(117, 117, 117, 1);
    border-radius: 50%;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-radio:not(:disabled):not(:checked)+span:hover::before {
    border-color: rgba(105, 73, 52, 1);
}

.custom-radio:checked+span::before {
    border-color: rgba(105, 73, 52, 1);
    background-color: rgba(105, 73, 52, 1);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.link__text {
    cursor: pointer;
}

.menu-dropdown {
    position: absolute !important;
    padding: 10px 8px !important;
    inset: 0 auto auto 0 !important;
    margin: 0 !important;
    transform: translate(-50px, 50px) !important;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.sort-label input {
    width: 24%;
}

.filter-title {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

.filter-group {
    padding: 8px 0;
}

.filter-label {
    display: flex;
    gap: 5px;
    cursor: pointer;
    align-items: center;
}

.filter-name {
    line-height: 15px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+span::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid rgba(117, 117, 117, 1);
    border-radius: 2px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+span::before {
    border-color: rgba(105, 73, 52, 1);
    background-color: rgba(105, 73, 52, 1);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='11' viewBox='0 0 13 11' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.716 0.271917C13.0851 0.644002 13.0958 1.25844 12.7399 1.64431L4.38271 10.7031C4.2077 10.8928 3.96641 11 3.71429 11C3.46216 11 3.22087 10.8928 3.04586 10.7031L0.260145 7.68352C-0.0958321 7.29766 -0.085144 6.68322 0.284018 6.31113C0.65318 5.93905 1.24102 5.95022 1.597 6.33608L3.71429 8.63114L11.403 0.296869C11.759 -0.0889967 12.3468 -0.100168 12.716 0.271917Z' fill='%23ffffff'/%3E%3C/svg%3E");
}

.custom-checkbox:not(:disabled):not(:checked)+span:hover::before {
    border-color: rgba(105, 73, 52, 1);
}

.scroll-block {
    height: 160px;
    overflow-y: auto;
    scrollbar-color: #d3d4dd transparent;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    height: 10px; /* Высота горизонтального скроллбара */
    border-radius: 5px; /* Радиус скругления */
}

.pagination {
    justify-content: center;
}

.active > .page-link {
    background-color: var(--base-brown);
    border-color: var(--base-brown);
}

.page-link {
    color: black;
}
.page-link:hover {
    color: var(--base-brown);
}
    /*Корзина*/
.info-wrap {
    display: flex;
    justify-content: center;
}
.info-card {
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 51%;
    padding: 120px 0;
}

.info-header_h {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.product-wrap {
    padding: 15px 0;
    display: flex;
    gap: 15px;
}

.product__name {
    width: 60%;
}

.product__count {
    display: flex;
    height: 35px;
    gap: 10px;
    align-items: center;
}

.product__count input {
    width: 50px;
    background-color: transparent;
    border: none;
    text-align: center;
}

.product__count button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #e5e5e5;
    border-radius: 0.2rem;
}

.product__price {
    display: flex;
    width: 20%;
    gap: 10px;
    align-items: flex-end;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
}

.contact-information__form {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
}

.contact-information__alert {
    font-size: 16px;
}

.input-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /*margin-top: 20px;*/
}
.p-card__header {
    font-size: 16px;
    margin: 0;
}

fieldset {
    margin-bottom: 25px;
}

.input-wrapper textarea {
    margin-top: 20px;
    height: 120px;
    resize: none;
}

.total-count,
.count-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.count-line__num,
.count-line__price {
    font-size: 14px;
    color: rgba(90, 90, 90, 1);
}

.total-count__text,
.total-count__price {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
/*.form-control.order-input{*/
/*    margin-top: 15px;*/
/*}*/

/*Заказы*/
.order-wrapper {
    display: flex;
    width: 100%;
    gap: 15px;
}

.order-list__order-number {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
}

.order-card__img {
    width: 150px;
    height: 200px;

}

.order-card__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.order-card {
    width: 50%;
}

/*Создание товаров*/
.form_label input,
.field_multiselect {
    position: relative;
    width: 100%;
    display: block;
    min-height: 46px;
    border: 1px solid #cdd6f3;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px 40px 10px 16px;
    font-size: 14px;
    color: #a8acc9;

    outline-color: #cdd6f3;

    &::placeholder {
        color: #a8acc9;
    }
    &:hover {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
    }
    &:focus {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
    }
}

.field_multiselect_help {
    position: absolute;
    max-width: 100%;
    background-color: #fff;
    top: -48px;
    left: 0;
    opacity: 0;
}

.field_multiselect {
    padding-right: 60px;
    &:after {
        content: "";
        position: absolute;
        right: 14px;
        top: 15px;
        width: 6px;
        height: 16px;
        background: url("data:image/svg+xml,%3Csvg width='6' height='16' viewBox='0 0 6 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 0L6 5H0L3 0Z' fill='%23A8ACC9'/%3E%3Cpath d='M3 16L6 11H0L3 16Z' fill='%23A8ACC9'/%3E%3C/svg%3E")
        50% 50% no-repeat;
    }
}

.multiselect_block {
    position: relative;
    width: 100%;
}
.field_select {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;

    border: 2px solid #cdd6f3;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    box-sizing: border-box;
    outline-color: #cdd6f3;
    z-index: 6;
}

.field_select[multiple] {
    overflow-y: auto;
}

.field_select option {
    display: block;
    padding: 8px 16px;
    width: calc(370px - 32px);
    cursor: pointer;
    &:checked {
        background-color: #eceff3;
    }
    &:hover {
        background-color: #d5e8fb;
    }
}

.btn_multiselect {
    position: relative;
    padding: 7px 34px 7px 8px;
    background: #ebe4fb;
    border-radius: 4px;
    margin-right: 9px;
    margin-bottom: 10px;
    border: none;

    &:hover,
    &:focus {
        background-color: #dbd1ee;
    }
    &:after {
        content: "";
        position: absolute;
        top: 7px;
        right: 10px;
        width: 16px;
        height: 16px;
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.4958 6.49499C19.7691 6.22162 19.7691 5.7784 19.4958 5.50504C19.2224 5.23167 18.7792 5.23167 18.5058 5.50504L12.5008 11.5101L6.49576 5.50504C6.22239 5.23167 5.77917 5.23167 5.50581 5.50504C5.23244 5.7784 5.23244 6.22162 5.50581 6.49499L11.5108 12.5L5.50581 18.505C5.23244 18.7784 5.23244 19.2216 5.50581 19.495C5.77917 19.7684 6.22239 19.7684 6.49576 19.495L12.5008 13.49L18.5058 19.495C18.7792 19.7684 19.2224 19.7684 19.4958 19.495C19.7691 19.2216 19.7691 18.7784 19.4958 18.505L13.4907 12.5L19.4958 6.49499Z' fill='%234F5588'/%3E%3C/svg%3E")
        50% 50% no-repeat;
        background-size: contain;
    }
}

.multiselect_label {
    position: absolute;
    top: 1px;
    left: 2px;
    width: 100%;
    height: 44px;
    cursor: pointer;
//background-color: #f00;  /// for test
z-index: 3;
}

.field_select {
    display: none; ////
}

input.multiselect_checkbox {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: none;
    opacity: 0;
}

.multiselect_checkbox:checked ~ .field_select {
    display: block;
}

.multiselect_checkbox:checked ~ .multiselect_label {
    width: 40px;
    left: initial;
    right: 4px;
    background: #ffffff url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.4958 6.49499C19.7691 6.22162 19.7691 5.7784 19.4958 5.50504C19.2224 5.23167 18.7792 5.23167 18.5058 5.50504L12.5008 11.5101L6.49576 5.50504C6.22239 5.23167 5.77917 5.23167 5.50581 5.50504C5.23244 5.7784 5.23244 6.22162 5.50581 6.49499L11.5108 12.5L5.50581 18.505C5.23244 18.7784 5.23244 19.2216 5.50581 19.495C5.77917 19.7684 6.22239 19.7684 6.49576 19.495L12.5008 13.49L18.5058 19.495C18.7792 19.7684 19.2224 19.7684 19.4958 19.495C19.7691 19.2216 19.7691 18.7784 19.4958 18.505L13.4907 12.5L19.4958 6.49499Z' fill='%234F5588'/%3E%3C/svg%3E") 50% 50% no-repeat;

}

/*.total-count {*/
/*    font-weight: 500;*/
/*    font-size: 22px;*/
/*}*/
/*.order-wrapper {*/
/*    gap: 15px;*/
/*}*/
/*.order__info {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
@media (max-width: 770px) {
    .shop-info {
        flex-direction: column;
        align-items: center;

    }

    .shop-info__main, .shop-info__avatar, .shop-avatar {
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 5px;
        text-align: center;
    }
}

@media (max-width: 770px) {

}

/**/
